*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:'Mulish', sans-serif;
}

p{
    font-weight: 300;
    font-size:21px;
    line-height:32px;
    font-style: normal;
    color:#7D7987;
}

.btn{
    border-radius: 55px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-size:18px;
    border: 1px solid #458FF6;
    color: #458FF6;
    display: block;
    margin: auto;
}

.btn:hover{
    background-color: #458FF6;
    color: #fff;
}

h2{
    font-weight: 700;
    color: #000;
    font-size: 36px;
    font-style: normal;
    line-height:56px;
}
/* All h2 tages underline */
h2::after{
    content: " ";
    width:56px;
    display: block;
    margin-top: 5px;
    height: 3px;
    border-radius: 5px;
    background: #000;
}
/* Our services underline m-auto */
.container > h2:after {
    margin: auto;
}
/* ------------------------ element 1 design top left ------------------------ */
.header-left-design{
    position: absolute;
    left: 2.06%;
    top: 2.73%;
}
/* ------------------------ Menu bar ------------------------ */

.container {
    padding-top: 56px !important;
}
.navbar{
    background-color:#fff;
}
.navbar-brand{
    width:160px;
}
.collapse li{
    padding-left: 30px;
}

.container li a{
    font-weight: 400;
    font-size: 18px;
}
.active{
    font-weight: 700;
}

.nav-linka{
    color: #1F1534;
    font-weight :400;
}

.navbar-toggler{
    outline: none;
    border: none;
    cursor: pointer;
    color: #1F1534;
}

.fas{
    font-size:32px;
    color: #000;
}

/* ------------------------ Header menu list hover ------------------------ */
.collapse ul li::after{
    content: "";
    height: 2px;
    width: 0%;
    background: #1F1534;
    display: block;
    transition: 0.7s;
    margin: 1px auto;
}

.collapse ul li:hover::after{
    width: 100%;
    border-radius: 15px;
}

/* ------------------------ Header text & image ------------------------ */
.header-content{
    margin-top: 84px;
}

h1{
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 25px;
    line-height: 56px;
    width: 28rem;

}

.header-content p{
    width: 28rem;
}


#btn-colsult{
    margin-top: 45px;
    background-color:#458FF6;
    color: #fff;
}

#btn-colsult:hover{
    background:transparent;
    border: 1px solid #458FF6;
    color: #458FF6;
}

.col-md-6 img{
    width: 100%;
}
/* ------------------------ Section 2 About Us ------------------------ */

.our_services_image {
    width: 56rem !important;
    position: absolute;
    left: -10%;
    top:20%;
    z-index: -1;
    width: 100%;
}

.our_services_image img {
    width: 100%;
}

.services-card{
    margin-top: 80px;
    height: 23rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow:2px 3px 20px #E5E5E5;
    transition: 0.5s;
    z-index:1;
}

.services-card img {
    margin-top: 3.37rem;
    padding-left: 2.3rem;
}

.card-title{
    padding-top: 23px;
    font-weight: 700;
    color: #000;
    font-size:24px;
    line-height: 56px;
    font-style: normal;
    padding-left: 2.3rem;
}

.card-text{
    font-weight: 300;
    color: #7D7987;
    font-size:16px;
    line-height: 28px;
    font-style: normal;
    padding-left: 2.3rem;
}

.services-card:hover{
    transform: translateY(-12px);
    box-shadow: 1px 2px 7px 1px #888888;
}
/* ------------------------ Section 3 Corusel ------------------------ */

.our_customers{
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    margin-top: 17rem;
    margin-bottom: 14rem;
}

.our_customers h3{
    color: #fff !important;
    font-weight: 700;
    font-style: normal;
    line-height:48px;
    font-size:36px;
    text-align: center;
}

.our_customers h3::after{
    content: " ";
    width:56px;
    display: block;
    margin-top: 5px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    margin: 10px auto;
}

.our_customers h4{
    font-size: 22px;
    color: #fff;
    font-weight: 700;
}

.our_customers p{
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height:48px;
    color: #FFFFFFD9;
}

.carousel-item{
    min-height: 17rem;
}



/* ----------------- Section 4 - Check our lates article ----------------- */

.latest-card{
    font-size: 21px;
    line-height: 28px;
    margin-top: 4rem;
    border-radius: 20px;
    transition: 0.5s;
}

.latest-card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.latest-card a{
    padding-left: 2.3rem;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    line-height: 28px;
}

.latest-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/* ------------------------- Footer ------------------------- */

footer{
    margin-top:10rem;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

footer h5{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

footer p, footer a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

/* ------------------------ Media ------------------------ */

@media screen and (min-width:990px) and (max-width:1200px){
    .row-card{
        justify-content: space-around !important;
    }

    h1{
        text-align: center;
    }
}


@media screen and (max-width:768px){
    /* All buttons */
    .btn{
        display: block;
        margin: auto;
        margin-bottom:45px;
    }
    /* All rows */
    .row { 
        justify-content: center !important;
    }

    .row > h1, p{
        text-align: center; 
    }

    /* Remove hover effect from menu list in small screen */ 
    .collapse ul li:hover::after{
        width:0%;
    }
    /* Cards in small screen*/
    .card{
        width: 28rem !important;
        display:block;
        margin: 15px auto;
        text-align: center;
    }

    .col-sm-12 img {
        display: block;
        margin: auto;
    }

    .col-sm-12 h4{
        margin-top: 1rem;
        text-align: center;
    }

    .col-sm-12 p{
        line-height: 32px;
    }
}


